.hero {
    margin-top: 2rem;
    max-width: 3076px;
    height: 350px;
    display: contents;

}

.hero__img {
    margin-top: 2rem;
    background-image: url('../assets/champi.jpg');
    background-size: cover;
    height: 300px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: .5rem;
}

.hero__title {
    font-size: 52px;
    font-weight: bold;
    color: var(--color--texto--titulo);
}

.hero__descrp {
    margin-top: 1rem;
    font-size: 30px;
    color: var(--color--texto--titulo);
}

.hero__btn--verConsolas {
    margin-top: 1rem;
    color: var(--color--texto--titulo);
    background: var(--color--btn);
    font-family: 'Dosis';
    padding: 16px;
    height: 51px;
    border: 1px solid var(--color--btn);
}

.hero__btn--verConsolas a {
    color: var(--color--texto--titulo);
}

@media (max-width:480px) {

    .hero__img {
        justify-content: space-evenly;
    }

    .hero__title {
        font-size: 42px;
    }

    .hero__descrp {
        font-size: 20px;
        font-weight: bold;
    }
}