.login {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: var(--color--de--log);
    padding: 2rem;
}

.login__container {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    border-radius: 5px;
}

.login__container--titulo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.login__container a {
    text-decoration: none;
    color: lightblue;
}

.login__container--btnlogin {
    margin-top: 1rem;
    color: var(--color--texto--titulo);
    background: var(--color--btn);
    font-family: 'Dosis';
    padding: 16px;
    height: 51px;
    border: 1px solid var(--color--btn);
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.login__container--btnlogin:focus {
    outline: 0;
}

.login__container--btnlogin:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.login__container--form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.login__container--form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.login__container--form-control input:focus,
.login__container--form-control input:valid {
    outline: 0;
    border-bottom-color: var(--color--btn);
}

.login__container--form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.login__container--form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login__container--form-control input:focus + label span,
.login__container--form-control input:valid + label span {
    color: var(--color--btn);
    transform: translateY(-30px);
}

@media (max-width:480px) {
    .login__container {
        width: 98%;
        padding: 10px;
    }

    .login__container--form-control input {
        width: 85%;
    }
}
