.productsDescrip-section {
    display: flex;
}

.form-controlP {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
}

.imgDescrp {
    width: 352px;
    height: 348px;
    border-radius: .5rem;
}

.infoDescrp {
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    justify-content: space-around;
}

.nombreDescrp,
.precioDescrp {
    font-weight: bold;
    margin-top: .5rem;
    font-size: 1.3rem;
}

.descrpDescrp {
    margin-top: .5rem;
    font-size: 1.3rem;
    text-align: justify;
}

@media (max-width:480px) {
    .form-controlP {
        flex-direction: column;
    }

    .imgDescrp {
        width: 322px;
        height: 318px; 
    }

    .infoDescrp {
        margin-left: 0;
    }
}

@media (max-width:768px) { 
    .form-controlP{
        align-items: center;
    }
}