.rodapie {
    background-color: var(--color--de--caja);
    
}

.rodapie__acerca {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.rodapie__acerca--menulist a {
    font-family: 'Dosis';
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-de-link);
}

li {
    margin-top: .5rem;
}

.rodapie__acerca--formtitulo {
    font-size: 1.5rem;
    font-weight: bold;
}

.input--container {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}
  
.input {
    box-sizing: border-box;
    padding: .5rem;
    height: 3.25rem;
    width: 100%;
}
  
.input::placeholder {
    visibility: hidden;
    color: var(--color--btn);
}
  
.input:focus {
    outline: none;
}
  
.input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    transition: all 0.25s;
}
  
.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}